streamlit
pandas
numpy
matplotlib
seaborn

scikit-learn
joblib
pickle-mixin

tensorflow==2.10.0
keras

lightgbm

yfinance
requests

python-dateutil
pytz

jupyter
notebook
ipykernel

tqdm

plotly
Pillow

yfinance